<launch timeout="100.0">
    <!-- BAG -->
    <arg name="bag_path" default="/Bulk_Data/ros_bags/euroc/" />
    <arg name="bag_file" default="MH_01_easy.bag" />
    <node pkg="rosbag" type="play" name="rosbag" args="$(arg bag_path)/$(arg bag_file) -s 0" output="log"/>


    <!-- <arg name="config_path" default="$(find cerebro)/config/vinsfusion/euroc/euroc_mono_imu_config.yaml" /> -->
    <arg name="config_path" default="$(find cerebro)/config/vinsfusion/euroc/euroc_stereo_imu_config.yaml" />



<!-- VINS-Fusion Estimator -->
<!-- unlike previous vins-mono, even the feature tracker is put inside 1 node ie. vins_node.
-->
    <node name="vins_estimator" pkg="vins" type="vins_node" args=" $(arg config_path)" output="log">
    </node>



    <!-- Cerebro -->
    <node name="cerebro_node" pkg="cerebro" type="cerebro_node" output="log">
       <param name="config_file" type="string" value="$(arg config_path)" />
    </node>

    <!-- KERAS SERVER -->
    <node name="whole_image_desc_compute_server" pkg="cerebro" type="whole_image_desc_compute_server.py" output="log">
       <param name="config_file" type="string" value="$(arg config_path)" />
    </node>

    <!-- Pose graph (kidnap aware) -->
    <!-- rosrun solve_keyframe_pose_graph keyframe_pose_graph_slam -->
    <node name="keyframe_pose_graph_slam_node" pkg="solve_keyframe_pose_graph" type="keyframe_pose_graph_slam" output="screen" >
    </node>


</launch>
