<launch timeout="100.0">

    <!-- CONFIG FILE -->
    <arg name="config_path" default="$(find cerebro)/config/vinsfusion/mynteye/mynteye_stereo_imu_config.yaml" />


    <!-- BAG -->
    <!-- <arg name="bag_path" default="/Bulk_Data/ros_bags/mynteye/" /> -->
    <!-- <arg name="bag_file" default="2018-11-20-17-45-55.bag" doc="single loop in lab"/> -->
    <!-- <arg name="bag_file" default="2018-11-20-17-42-54.bag" doc="multiple loops in lab"/> -->



    <!-- ### Kidnap sequences in lab -->
    <arg name="bag_path" default="/Bulk_Data/ros_bags/mynteye/" />
    <!-- <arg name="bag_file" default="/kidnap/2019-01-14-17-20-06.bag" doc="lab kidnap. easy"/> -->
    <arg name="bag_file" default="/kidnap/2019-02-14-12-00-21.bag" doc="3 kidnaps in lab. This gives the chained case for pose computation between worlds"/>
    <!-- <arg name="bag_file" default="/kidnap/2019-02-14-13-00-25.bag" doc="3 kidnaps in lab; bit of bad bag"/> -->
    <!-- <arg name="bag_file" default="/kidnap/2019-02-14-17-19-29.bag" doc="4 kidnaps in lab"/> -->
    <!-- <arg name="bag_file" default="/kidnap/2019-02-21-17-10-30.bag" doc="0:-; 1:-; 2:merge(0), merge(1). 2nd merges with both 0 and 1."/> -->
    <!-- <arg name="bag_file" default="/kidnap/2019-02-21-17-38-58.bag" doc="0:-; 1:-; 2:merge(0), merge(1). 2nd merges with both 0 and 1."/> -->
    <!-- <arg name="bag_file" default="/kidnap/2019-02-22-11-03-38.bag" doc="run;kidnap;rotated run"/> -->
    <!-- <arg name="bag_file" default="/kidnap/2019-03-07-14-58-00.bag" doc="2 independent runs"/> -->
    <!-- <arg name="bag_file" default="/kidnap/2019-03-14-16-12-22.bag" doc="7 kidnaps. 0:; 1:; all next merges with 1. Final merge with 0 and 3."/> -->
    <!-- <arg name="bag_file" default="/kidnap/2019-03-14-16-36-58.bag" doc="10 kidnaps. 0; 1; merge everything with 1. finall all merge to zero. very complicated dependence structure of the walk,"/> -->




    <!-- <node pkg="rosbag" type="play" name="rosbag" args="$(arg bag_path)/$(arg bag_file) -s 2 -d 2" output="log"/> -->

    <!-- END Bag -->


    <!-- VINS-Fusion Estimator -->
    <!-- unlike previous vins-mono, even the feature tracker is put inside 1 node ie. vins_node.
    $(ubuntu) rosrun vins vins_node /app/catkin_ws/src/cerebro/config/vinsfusion/mynteye/mynteye_stereo_imu_config.yaml
    -->
    <node name="vins_estimator" pkg="vins" type="vins_node" args=" $(arg config_path)" output="log">
    </node>


    <!-- Cerebro -->
    <node name="cerebro_node" pkg="cerebro" type="cerebro_node" output="screen">
       <param name="config_file" type="string" value="$(arg config_path)" />
    </node>

    <!-- KERAS SERVER -->
    <node name="whole_image_desc_compute_server" pkg="cerebro" type="whole_image_desc_compute_server.py" output="log">
       <param name="config_file" type="string" value="$(arg config_path)" />
    </node>


    <!-- Graph-based Pose Graph Optimization Solver -->
    <!-- $(ubuntu) rosrun solve_keyframe_pose_graph keyframe_pose_graph_slam -->
    <!-- <node name="keyframe_pose_graph_slam_node" pkg="solve_keyframe_pose_graph" type="keyframe_pose_graph_slam" output="log" >
    </node> -->

</launch>
