<launch>


<!-- ################################## Bag ################################ -->
<arg name="bag_path" default="/Bulk_Data/ros_bags/mynteye/" />

<!-- ### IN LAB -->
<!-- <arg name="bag_file" default="1.bag" doc="sitting on my desk"/> -->
<!-- <arg name="bag_file" default="2018-11-20-17-45-55.bag" doc="single loop in lab"/> -->
<!-- <arg name="bag_file" default="2018-11-20-17-42-54.bag" doc="multiple loops in lab"/> -->
<arg name="bag_file" default="2018-11-22-12-06-47.bag" doc="drone fly area loopy"/>
<!-- <arg name="bag_file" default="2018-11-22-12-09-21.bag" doc="conference room RI"/> -->
<!-- <arg name="bag_file" default="2018-11-29-12-37-49.bag" doc="lab rotated loops"/> -->
<!-- <arg name="bag_file" default="2018-11-29-15-10-24.bag" doc="outside RI"/> -->
<!-- <arg name="bag_file" default="2019-01-14-18-25-18.bag" doc="lab AR test"/> -->

<!-- ### In HKUST Academic block and CYT UG -->
<!-- <arg name="bag_file" default="2018-11-29-15-13-44.bag" doc="CYT UG floor"/> -->
<!-- <arg name="bag_file" default="2018-11-29-15-22-50.bag" doc="academic concourse"/> -->
<!-- <arg name="bag_file" default="2018-11-29-15-30-39.bag" doc="near coffee shop 1"/> -->
<!-- <arg name="bag_file" default="2018-11-29-15-36-41.bag" doc="seng"/> -->
<!-- <arg name="bag_file" default="2018-12-13-16-48-46.bag" doc="seng3"/> -->
<!-- <arg name="bag_file" default="2018-12-13-16-56-36.bag" doc="concourse-seng4"/> -->




<node pkg="rosbag" type="play" name="rosbag" args="$(arg bag_path)/$(arg bag_file) -s 2" output="log"/>

<!-- ############################# DONE BAGS #######################################  -->


<!-- for TUM VIO Dataset `PINHOLE` does not work well. KANNALA_BRANDT works OK! -->
<!-- <arg name="config_path" default="$(find cerebro)/config/mynteye_pinhole/mynteye_config.yaml" /> -->
<!-- <arg name="config_path" default="$(find cerebro)/config/mynteye/mynteye_config.yaml" /> -->
<arg name="config_path" default="$(find cerebro)/config/mynteye_kannala_brandt/mynteye_config.yaml" />
<arg name="vins_path" default="$(find feature_tracker)/../config/../" />




<!-- VINS -->
    <node name="feature_tracker" pkg="feature_tracker" type="feature_tracker" output="log">
        <param name="config_file" type="string" value="$(arg config_path)" />
        <param name="vins_folder" type="string" value="$(arg vins_path)" />
    </node>

    <node name="vins_estimator" pkg="vins_estimator" type="vins_estimator" output="log">
       <param name="config_file" type="string" value="$(arg config_path)" />
       <param name="vins_folder" type="string" value="$(arg vins_path)" />
    </node>


<!-- Cerebro -->
    <node name="cerebro_node" pkg="cerebro" type="cerebro_node" output="screen">
       <param name="config_file" type="string" value="$(arg config_path)" />
    </node>



    <node name="whole_image_desc_compute_server" pkg="cerebro" type="whole_image_desc_compute_server.py" output="log">
       <param name="config_file" type="string" value="$(arg config_path)" />
    </node>


<!-- Graph-based Pose Graph Optimization Solver -->
<!-- rosrun solve_keyframe_pose_graph keyframe_pose_graph_slam -->
    <node name="keyframe_pose_graph_slam_node" pkg="solve_keyframe_pose_graph" type="keyframe_pose_graph_slam" output="log" >
        <!-- params can go here if need be -->
    </node>


</launch>
