<launch timeout="100.0">

    <!-- CONFIG FILE -->
    <arg name="config_path" default="$(find cerebro)/config/vinsfusion/realsense_d435i/realsense_stereo_imu_config.yaml" />


    <!-- BAG -->
    <arg name="bag_path" default="/Bulk_Data/ros_bags/realsense/" />

    <arg name="bag_file" default="2019-05-14-13-26-05.bag" doc="realsense in lab seq" />
    <!-- <arg name="bag_file" default="2019-05-16-14-57-55.bag" doc="loopy and 2 kidnaps" /> -->



    <node pkg="rosbag" type="play" name="rosbag" args="$(arg bag_path)/$(arg bag_file) -s 1 -d 2" output="log"/>

    <!-- END Bag -->


    <!-- VINS-Fusion Estimator -->
    <!-- unlike previous vins-mono, even the feature tracker is put inside 1 node ie. vins_node.
    $(ubuntu) rosrun vins vins_node /app/catkin_ws/src/cerebro/config/vinsfusion/mynteye/mynteye_stereo_imu_config.yaml
    -->
    <node name="vins_estimator" pkg="vins" type="vins_node" args=" $(arg config_path)" output="log">
    </node>

    <group if="0">
        <!-- VINS-Fusion loop_fusion -->
        <!-- This is the DBOW + posegraph optimization from Qin Tong
        $(ubuntu) rosrun loop_fusion loop_fusion_node /app/catkin_ws/src/cerebro/config/vinsfusion/euroc/euroc_stereo_imu_config.yaml
        -->
        <node name="loop_fusion" pkg="loop_fusion" type="loop_fusion_node" args=" $(arg config_path)" output="log">
        </node>
    </group>


    <group if="1">
        <!-- Cerebro -->
        <node name="cerebro_node" pkg="cerebro" type="cerebro_node" output="screen">
           <param name="config_file" type="string" value="$(arg config_path)" />
        </node>

        <!-- KERAS SERVER -->
        <!-- $(ubuntu) rosrun cerebro whole_image_desc_compute_server.py _config_file:=/app/catk_ws/src/cerebro/config/vinsfusion/euroc/euroc_stereo_imu_config.yaml -->
        <node name="my_desc_server" pkg="cerebro" type="whole_image_desc_compute_server.py" output="log">
          <!-- <param name="kerasmodel_file" type="string" value="$(find cerebro)/scripts/keras.models/mobilenet_conv7_allpairloss.keras" /> -->
          <!-- <param name="kerasmodel_file" type="string" value="$(find cerebro)/scripts/keras.models/modelarch_and_weights.h5" /> -->
          <param name="kerasmodel_file" type="string" value="$(find cerebro)/scripts/keras.models/June2019/centeredinput-m1to1-240x320x3__mobilenet-conv_pw_6_relu__K16__allpairloss/modelarch_and_weights.700.h5" />



           <param name="config_file" type="string" value="$(arg config_path)" />
           <!--         OR -->
           <!--
           <param name="nrows" type="string" value="480" />
           <param name="ncols" type="string" value="752" />
            -->

           <!-- <param name="nchnls" type="string" value="1" />  -->
           <param name="nchnls" type="string" value="3" />
        </node>

        <!-- Pose graph (kidnap aware) -->
        <!-- $(ubuntu) rosrun solve_keyframe_pose_graph keyframe_pose_graph_slam -->
        <node name="keyframe_pose_graph_slam_node" pkg="solve_keyframe_pose_graph" type="keyframe_pose_graph_slam" output="log" >
        </node>
    </group>

</launch>
