<launch>


<!-- Bag -->
<arg name="bag_path" default="/Bulk_Data/ros_bags/tum-vins-dataset/tumvi/calibrated/512_16/" />
<!-- <arg name="bag_file" default="dataset-corridor4_512_16.bag" doc="corridor; smallest seq"/> -->
<arg name="bag_file" default="dataset-magistrale1_512_16.bag" doc="magistrale1" />
<!-- <arg name="bag_file" default="dataset-magistrale5_512_16.bag" doc="magistrale5"/> -->



<node pkg="rosbag" type="play" name="rosbag" args="$(arg bag_path)/$(arg bag_file)" output="log"/>



<!-- for TUM VIO Dataset `PINHOLE` does not work well. KANNALA_BRANDT works OK! -->
<!-- <arg name="config_path" default="$(find cerebro)/config/tum_vi/tum_vi_config.yaml" /> -->
<arg name="config_path" default="$(find cerebro)/config/tum_vi/tum_jie_config.yaml" />
<arg name="vins_path" default="$(find feature_tracker)/../config/../" />




<!-- VINS -->
    <node name="feature_tracker" pkg="feature_tracker" type="feature_tracker" output="log">
        <param name="config_file" type="string" value="$(arg config_path)" />
        <param name="vins_folder" type="string" value="$(arg vins_path)" />
    </node>

    <node name="vins_estimator" pkg="vins_estimator" type="vins_estimator" output="log">
       <param name="config_file" type="string" value="$(arg config_path)" />
       <param name="vins_folder" type="string" value="$(arg vins_path)" />
    </node>


<!-- Cerebro -->
    <node name="cerebro_node" pkg="cerebro" type="cerebro_node" output="screen">
       <param name="config_file" type="string" value="$(arg config_path)" />
    </node>



    <!-- <node name="my_desc_server" pkg="cerebro" type="whole_image_desc_compute_server.py" output="screen">
       <param name="config_file" type="string" value="$(arg config_path)" />
    </node> -->


</launch>
